@import "./reset.css";

body {
  background-color: green;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding: 50px;
}

.canvas {
  /*canvas 태그의 가로 세로 길이 지정
  width: 700px;
  height: 700px;*/
  background-color: white;
  border: 3px solid red;
  /* border-bottom: 15px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0); */
}
